@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #323377;
  --color-secondary: #8474fe;
}

.bg-image {
  background-image: url("/src/assets/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f5f2;
}
footer {
  background-image: url("/src/assets/Footer-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btns {
  @apply btn bg-linear-to-r from-[#323377] to-[#8474fe] shadow-none text-white
}

a.active {
  @apply border border-gray-400 font-bold p-2 rounded-lg
}

.section-title {
  @apply text-3xl font-bold text-center mb-8
}

.section-margin {
  @apply my-20 mx-auto
}